
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

section{
    border: 1px solid black;
    /* background-color: rgb(24, 24, 66); */
    height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* ================================================================= */


#hero{
    border-width: 0 0 1px 0;
    border-radius:20px ;
    background-color:  white;
    height: 100vh;
    color: black;
    font-size : 25px;
}

nav{

    background-color: rgba(245, 245, 245, 0.769);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14vh;
    border-bottom: 2px solid rgba(228, 228, 228, 0.436) ;
    /* background-color: rgb(172, 170, 170); */
}
nav ul{
    align-items: center;
    list-style: none;
    margin-right: 40px;


}

nav li{
   display: inline-block;
   margin: 10px 10px;
   font-weight: 600;
}

.logo-container{
    width: 30%;
    height: 100%;
}
.logo-container img{
    height: 90%;
}


.hero-text-area{
    height: 100%;
    display: flex;
    align-items: center;

}
.hero-text-container{
    margin: 0 0 230px 50px;
}

/* =============================================================== */

#projects{
    background-color: #fff;
    padding: 50px 20px;
    margin-top: 50px;
    border-radius: 20px;  
    /* height: 100vh; */
    height: fit-content;
    
}

#projects h2{
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700 ;
    font-size: 36px;  
}

  
.different-genre-cards-container{
    border: 4px solid rgb(0, 4, 255);
    /* border-collapse: collapse; */
    padding-bottom: 50px;
    
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    /* flex-direction: row;
    display: flex;
    justify-content:space-between; 
    align-items: center; */
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    column-gap:20px;

    transition: transform 0.2s ease-in-out;

    height: fit-content;

}


/* .project-genre{
    background-color: #171717;
    background-color:#353535 ; color-pallet
    color: white;
    
    position: absolute;
    transform : translateX(-50%);

    top: 0;
    left: 50%;

    
    padding: 10px 20px;
} */


.same-genre-cards-container{
    border: 1px solid rgba(0, 0, 0, 0.189);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.379);
    /* padding: 40px 0;  */
    row-gap: 20px;
    display: grid;
    grid-template-rows: 0.3fr 0.1fr 0.3fr;
   
    position: relative;
    margin: 5px;
    padding: 10px 0;

    border-radius: 6px;
    transition: all 0.3s ease;
    
     width: fit-content; 
     height: fit-content;
    
  
}

.separator{
    background:  rgba(180, 180, 180, 0.242);
    border:1px solid rgb(255, 255, 255) ;
    border-right-width: 0;
    border-left-width:0 ;
    /* border: 0; */
    margin-bottom: 10px;
    height:30px;
    box-shadow: 1px 1px 20px rgba(163, 163, 163, 0.53);
}
#club-events{
    grid-template-rows: 0.1fr 0.3fr 0.1fr 0.3fr;
    row-gap: 20px;
    padding-top: 0;
    background: #b8b3b30e;
    overflow: hidden;
}
#club-events .video-container:hover{
    transform: scale(1.07);
}


.project-card{
    /* margin: 20px 0px; */
    /* padding:25px 0 5px 0; */
    
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content:center;
    transition: all 0.3s ease 0s;
    height: auto;
    width: 100%;

}  

.project-card h3:hover{
    transform: scale(1.05);
   
}

.project-card .video-container:hover{
    transform: scale(1.18);
}

.project-card *{
    transition: all 0.3s ease;
}
.project-card *:hover{
    cursor:pointer;
}

.project-card h3{
    font-size: 24px;
    font-weight: 800;
   
}
.project-card h3:hover{
    font-size: 24px;
   
}

.video-container{
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.468);
    margin: 10px 0px 20px 0;
    height: 100%;
    width: 60%;

    border-radius: 7px;
    overflow: hidden;
    
}

.video-container video{

    width: 100%;  
    height: 100%; 
    object-fit: cover;
    
}

#w-b{
    /* height: 100px; */

}
#ai_summit{

}
  
.project-card p{
    font-size: 17px;
    font-weight: 600;
    opacity: 0.8;
    transform: scale(0.9);
   
}
  
.edited-with-logos{
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
    width: 50px;

}


.edited-with-logos img{
    width: 100%;
    opacity: 0.7;
    transform: scale(0.9);
    
} 

.edited-with-logos img:hover, .project-card p:hover{
    opacity: 1;
    transform: scale(1);
    
} 

.See-More{
   
    font-size: 17px;
    background-color: black;
    color: white;
    text-align: center;
    /* margin-left: 300px; how to center that shit ? */
 
    position: absolute;
    transform : translateX(-50%);
    bottom: 0;
    left: 50%;

    padding: 10px 10px;
    
    border-radius: 4px 4px 0 0;
    transition: all 0.3s ease;

}

.See-More:hover{
  /* background-color:rgba(0, 0, 0, 0.906) ; */
  background-color: white;
  box-shadow: 1px 1px 10px black;
  color: black;
    bottom: 2px;
    font-weight: 700;
  cursor : pointer;
}

li a{
    position: relative;
    padding-bottom: 2.3px;
}

li a::before{
    
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
  
li a:hover::before{
    transform-origin: left;
    transform: scaleX(1);
}

h1{
   font-weight: 700;
   padding-bottom: 10px;
}
p{
    /* font-style: italic; */
    font-weight: 600;
    font-size: 25px;
    
}

.about-me-button a{ 
    font-weight: 600;
    color: white;
    letter-spacing:1.2px;
}


.about-me-button{

    font-size:23px ;
    background-color: rgb(0, 0, 0);  
    display: inline-block;
    text-align: center ;
    border-radius:30px;

    margin-top: 18px;
    padding: 8px 15px ;
    transition: all 0.2s ease; 
                
            
}

.about-me-button:hover{
    cursor: pointer;
    background-color:rgba(0, 0, 0, 0.906);
    box-shadow: 2px 2px rgba(49, 48, 48, 0.114) ;

}

footer{
    height: 25vh;
    background-color: rgb(14, 11, 38);
}


/* Style for "CARS" button */

.button-container{
    position: relative;
    height: fit-content;

}
.btn {
    z-index: 1;
    display: inline-block;
    width: 100%;
    /* position: absolute; */
    /* transform : translateY(-50%); */
    /* top: 50%; */
    /* left: 0;
    right: 0; */
    box-shadow: 2px 2px 10px rgba(126, 126, 126, 0.253);
    padding: 10px 0;
    cursor: pointer;
    color: white;
    background: #171717;
    border: 1px solid #cecece;
    border-radius: 3px;
    outline: none;
    transition: 1s ease-in-out;

    
}

svg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /* border: 1px solid blue; */
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: white;
    color: black;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn span {
    color: color(27, 84, 189);
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 5px;
}


#animation{

}

#cars{

}
  /* END OF STYLE*/